.card {
    width: 190px;
    height: 254px;
    background: #18181b;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
  }
  
  .card-content {
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card h2 {
    margin: 10px 0 5px 0;
    font-size: 1.2em;
  }
  
  .card p {
    font-size: 1em;
    margin: 0;
  }
  
  .card-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  /* Increase card and image sizes for larger screens */
  @media (min-width: 1024px) {
    .card {
      width: 250px; /* Larger width for larger screens */
      height: 350px; /* Larger height for larger screens */
    }
  
    .card h2 {
      font-size: 1.2em; /* Slightly larger text for larger screens */
    }
  
    .card p {
      font-size: 1.0em; /* Slightly larger text for larger screens */
    }
  
    .card-image {
      width: 150px; /* Larger image size for larger screens */
      height: 200px; /* Larger image size for larger screens */
    }
  }
  
  .card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(231, 12, 23), rgb(255, 255, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .card::after {
    content: '';
    position: absolute;
    background: black;
    inset: 5px;
    border-radius: 15px;
  }
  